#shop {
    font-size: 25px;
    font-family: Arial;
    text-align: center;

}

#Menu {
    background-color: #b2d8ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;

}

#Produkty {
    background-color: white;
    float: left;
    min-height: 100px;
    width: 75%;
    flex-wrap: wrap;

}

#koszyk {
    background-color: #fff0b6;
    float: right;
    min-height: 100px;
    width: 25%;

}

.container {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    min-height: 400px;
    flex-wrap: wrap;
}


p {
    margin:0;
    padding:15px;
}

.product {

    min-height: 200px;
    padding: 10px;
   /* display: flex;*/


}

.box {
    width: 220px;
    height: 300px;
    background-color: #dfdfdf;
    border: 1px #4a4a4a solid;
    margin: 50px;


}

/*------------------------------------*/

.card-product {
    display: flex;
    flex-direction: row;
}

.card-product-price {
    margin-left: 15px;
    margin-right: 15px;
}

/*-------------------------------------*/


.add-to-card {
    font: 10pt Arial;
    color: black;
    background: lightgray;
    width: 70px;
    height: 40px;
    float: right;
    margin: 5px;

}

.name {

    height: 10px;
    margin: 5px;

    float: top;
}

.price {
    width: 75px;
    height: 10px;
    margin: 5px;

    float: left;



}



